.book-search-tile {
  margin: 10px;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

.book-search-tile:hover {
  background: lightblue;
}

.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.center-vertical:focus-within {
  z-index: 100;
}

.dropdown-add {
  margin-bottom: 5px;
}

#dropdown-group-add, #dropdown-list-add {
  width: 100%;
  z-index: 1;
  position: relative;
}

