#add-members {
  margin-bottom: 20px;
}

.admin-button {
  margin-top: 20px;
}

.assignment-card {
  text-align: left;
  border: 1px solid grey;
  box-shadow: 3px 3px 3px #888888;
  margin-bottom: 10px;
}

.assignment-card Form {
  margin-top: 20px;
}

.assignment-date {
  color: #888888;
  font-size: 14px;
}

.assignment-head {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.assignment-head Button {
  margin-left: 20px;
  min-width: fit-content;
  height: fit-content;
}

.assignment-text {
  font-size: 22px;
  font-weight: 500;
}

.assignment-border {
  border: 2px solid black;
  margin-bottom: 10px;
}

.club-grid-top {
  background: lightgreen;
  position: relative;
  padding: 5px;
}

.club-grid-top .content {
  position: absolute;
  top: 0;
  left: 0;
}

.comment-border {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.comment-card {
  display: flex;
  align-items: center;
  border-top: 0.1px solid grey;
  background-color: #f5f5f5;
  padding: 15px 10px;
}

.comment-card .date {
  color: #888888;
  font-size: 12px;
  vertical-align: middle;
}

.comment-card .header {
  align-items: center;
  display: flex;
}

.comment-card .name {
  font-weight: 500;
  margin-right: 10px;
}

.comment-card .profile {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
}

#delete-club {
  margin-top: 50px;
}

.description {
  font-size: 20px;
  text-align: center;
  margin: 15px 0px;
}

.group-container {
  border: 1px solid grey;
  color: black;
  padding: 0;
  text-align: left;
}

.group-container:hover {
  box-shadow: 3px 3px 3px #888888;
}

#group-link {
  color: black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
}

.groups-list-container {
  margin: 40px 0px;
  justify-content: center;
}

.group-container .footer {
  justify-self: end;
}

.group-container .header {
  padding: .75rem 1.25rem;
}

.page-container {
  text-align: center;
  justify-content: center;
  padding: 15px;
  margin-top: 15px;
}

#remove-member {
  margin-top: 5px;
}

.title {
  font-size: 50px;
  text-align: center;
  margin: 15px 0px;
}

.user-card {
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 3px 3px 3px #888888;
  padding: 15px 10px;
  margin: 10px;
}

.user-card Button {
  margin-top: 15px;
}

#user-profile {
  border-radius: 50%;
}

