.login button {
  background: none;
  border: none;
  padding: 0px;
  margin: 0px;
}

/* .login div {
  display: contents;
} */

.login div div {
  position: relative;
}

.login div div a {
  display: inline;
}

.login img {
  width: 20%;
  margin-left: 10px;
} 